body {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 1rem;
  color: white;
  width: 100%;
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #FF1D1D;

}

.header {
  padding-top: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.header__logo-wrapper {
  position: absolute;
  top: 1rem;
  right: 2.5vw;
}


.header__logo {
  display: block;
  width: 100%;
  height: auto;
  max-width: 4rem;
}

@media(min-width:768px) {
  .header__logo-wrapper {
    position: absolute;
    top: 1.5rem;
    right: 5vw;
  }

  .header__logo {
    display: block;
    width: 100%;
    height: auto;
    max-width: 7rem;
  }
}

.header__title-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.header__title {
  text-align: center;
  color: red;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
  font-family: Inter;
  font-style: italic;
  background: linear-gradient(180deg, #EE1616 0%, rgba(208, 23, 167, 0.00) 89.58%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1.0125rem;
  margin: 0;
}

.header__menu-wrapper {
  margin-left: 5vw;
  width: 75%;
  border: 1px solid transparent;
}

@media(min-width:768px) {
  .header__menu-wrapper {
    margin-left: 5vw;
    width: 75%;
    border: 1px solid #EEEDED;
  }

  .header__title {
    font-size: 36px;
  }
}

.header__menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style-type: none;
}

.menu__link a {
  text-transform: uppercase;
  color: white;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.045rem;
}

.menu__link.is-active a {
  color: red;
}

.menu__link a:hover {
  color: red;
}

@media(min-width:768px) {
  .header__menu {
    flex-direction: row;
    align-items: flex-start;
  }
}

.banner {
  width: auto;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  color: black;
  background-color: #fff;
  font-family: Inter;
  font-size: 1.125rem;

  font-style: italic;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
}

@media(min-width:768px) {
  .banner {
    font-size: 1.5rem;
    letter-spacing: .65rem;

  }
}


/* GALERIE */
.accueil__galerie-wrapper,
.accueil__description-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
}

.accueil__galerie-item {
  height: auto;
  width: auto;
}

.accueil__galerie-item img {
  display: block;
  width: auto;
  height: auto;
  max-height: 31.75rem;
}

.accueil__description-wrapper {
  color: white;
  align-items: center;
}

.accueil__description-wrapper a {
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #FF1D1D;

}

.accueil__description-wrapper h3 {
  font-family: Inter;
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.15em;
  text-align: left;
}

.galerie__item img {
  display: block;
  width: auto;
  height: auto;
  max-width: 360px;
}
